.flexbox {
    display: flex;

    mat-card {
        flex: 1;
        min-width: 0;
    }

    mat-card:not(:last-of-type) {
        margin-right: 10px;
    }

    div {
        flex: 1;
        min-width: 0;
    }

    div:not(:last-of-type) {
        margin-right: 10px;
    }
}

app-flipclock {
    transform: scale(0.5) translate(15%, 0);
    transform-origin: top left;
    display: inline-block;
    width: auto;
}

.biggerClock {
    transform: scale(0.7) translate(20%, 0);
}

.center {
    text-align: center;
    margin: auto;
}

mat-card {
    img {
        cursor: pointer;        
    }
}

.homepageContainer {
    display: flex;
    flex-flow: row wrap;    
    align-items: stretch;

    div.conventionContainer {
        flex: 2;
        width: 70%;
    }

    div.sponsorContainer {
        flex: 1;
        width: 30%;
        text-align: center;
        margin-left: 10px;

        mat-card {
            height: 100%;
        }
    }
}

@media(max-width: 800px) {
    .homepageContainer {
        div.conventionContainer {
            width: 100%;
        }

        div.sponsorContainer {
            margin-left: 0;
        }
    }
}