<br/>

<mat-card *ngFor="let gw of geekwayToTheWest | async" (click)="redirect('conventions/geekway')">
    <img *ngIf="gw.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekwaytothewest.com{{ gw.Logo.url }}">
    <ng-template #gwLogo>
        <img class="cardImage" matCardImage src="https://cms.geekwaytothewest.com{{ gw.conventionType.Logo.url }}">
    </ng-template>
    <mat-card-content>
        <div class="flexbox">
            <div class="center">
                <i class="{{gw.conventionType.Icon}}"></i> {{ gw.conventionType.Name }} - {{ gw.conventionType.Description }}
                <br/><br/>
                {{ gw.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY' }} through {{ gw.endDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }}
            </div>
            <div class="center">
                <app-flipclock id="gwCountdown" [date]="gw.startDate"></app-flipclock>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<br/>

<div class="flexbox">    
    <mat-card *ngFor="let gwMini of geekwayMini | async" (click)="redirect('conventions/mini')">
        <img *ngIf="gwMini.Logo; else gwMiniLogo" class="cardImage" matCardImage src="https://cms.geekwaytothewest.com{{ gwMini.LogoSquare.url }}">
        <ng-template #gwMiniLogo>
            <img class="cardImage" matCardImage src="https://cms.geekwaytothewest.com{{ gwMini.conventionType.LogoSquare.url }}">
        </ng-template>
        <mat-card-content class="center">
            <i class="{{gwMini.conventionType.Icon}}"></i> {{ gwMini.conventionType.Name }} - {{ gwMini.conventionType.Description }}
            <br/><br/>
            {{ gwMini.startDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }} through {{ gwMini.endDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }}
            <br/><br/>
            <div class="center"><app-flipclock id="gwMiniCountdown" [date]="gwMini.startDate"></app-flipclock></div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let gwMicro of geekwayMicro | async" (click)="redirect('conventions/micro')">
        <img *ngIf="gwMicro.Logo; else gwMicroLogo" class="cardImage" matCardImage src="https://cms.geekwaytothewest.com{{ gwMicro.LogoSquare.url }">
        <ng-template #gwMicroLogo>
            <img class="cardImage" matCardImage src="https://cms.geekwaytothewest.com{{ gwMicro.conventionType.LogoSquare.url }}">
        </ng-template>
        <mat-card-content class="center">
            <i class="{{gwMicro.conventionType.Icon}}"></i> {{ gwMicro.conventionType.Name }} - {{ gwMicro.conventionType.Description }}
            <br/><br/>
            {{ gwMicro.startDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY, h a' }} through {{ gwMicro.endDate | amTz: 'America/Chicago'  | amDateFormat: 'h a' }}
            <br/><br/>
            <div class="center"><app-flipclock id="gwMicroCountdown" [date]="gwMicro.startDate"></app-flipclock></div>
        </mat-card-content>
    </mat-card>
</div>

<br/><br/>