<mat-card>
    <mat-card-content class="center">
        <b>Geekway to the West</b> hosts board game conventions and events in and around the <b>St. Louis, Missouri</b> area. Our premiere annual convention is hosted in the summer and attracts more than 3,000 board game enthusiasts from all over.
    </mat-card-content>
</mat-card>

<br *ngIf="(featuredNews | async)?.length > 0"/>

<mat-card *ngIf="(featuredNews | async)?.length > 0" class="featured">
    <mat-card-title class="center">Featured News</mat-card-title>
    <mat-card-content class="center">
        <div *ngFor="let f of featuredNews | async"><a href="/news/post/{{ f.slug }}">{{ f.Title }} - {{ f.postDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY' }}</a></div>
    </mat-card-content>
</mat-card>

<br/>

<mat-card>
    <mat-card-content>
        Geekway will send you email letting you know when to buy tickets, submit or sign up for events, apply to be a Geek Guide, and give important info about the convention. Sign up so you don’t miss out!
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="redirect('https://us9.list-manage.com/subscribe?u=8ef36ba43ce2b4d6b894aabbb&id=f8d2f344e6')">Sign up now!</button>
    </mat-card-actions>
</mat-card>

<br/>

<div class="homepageContainer">
    <div class="conventionContainer">
        <mat-card *ngIf="geekwayToTheWest | async as gw" (click)="redirect('conventions/geekway')">
            <img *ngIf="gw.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ gw.Logo.url }}">
            <ng-template #gwLogo>
                <img class="cardImage" matCardImage src="https://cms.geekway.com{{ gw.conventionType.Logo.url }}">
            </ng-template>
            <mat-card-content class="center">
                <i class="{{gw.conventionType.Icon}}"></i> {{ gw.conventionType.Name }} - {{ gw.conventionType.Description }}
                <br/><br/>
                {{ gw.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY' }} through {{ gw.endDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }}
                <br/><br/>
                <app-flipclock class="biggerClock" id="gwCountdown" [date]="gw.startDate"></app-flipclock>
            </mat-card-content>
        </mat-card>

        <br/>

        <div class="flexbox">
            <mat-card *ngIf="geekwayMini | async as gwMini" (click)="redirect('conventions/mini')">
                <img *ngIf="gwMini.Logo; else gwMiniLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ gwMini.LogoSquare.url }}">
                <ng-template #gwMiniLogo>
                    <img class="cardImage" matCardImage src="https://cms.geekway.com{{ gwMini.conventionType.LogoSquare.url }}">
                </ng-template>
                <mat-card-content class="center">
                    <i class="{{gwMini.conventionType.Icon}}"></i> {{ gwMini.conventionType.Name }} - {{ gwMini.conventionType.Description }}
                    <br/><br/>
                    {{ gwMini.startDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }} through {{ gwMini.endDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }}
                    <br/><br/>
                    <app-flipclock class="biggerClock" id="gwMiniCountdown" [date]="gwMini.startDate"></app-flipclock>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="geekwayMicro | async as gwMicro" (click)="redirect('conventions/micro')">
                <img *ngIf="gwMicro.Logo; else gwMicroLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ gwMicro.LogoSquare.url }">
                <ng-template #gwMicroLogo>
                    <img class="cardImage" matCardImage src="https://cms.geekway.com{{ gwMicro.conventionType.LogoSquare.url }}">
                </ng-template>
                <mat-card-content class="center">
                    <i class="{{gwMicro.conventionType.Icon}}"></i> {{ gwMicro.conventionType.Name }} - {{ gwMicro.conventionType.Description }}
                    <br/><br/>
                    {{ gwMicro.startDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY, h a' }} through {{ gwMicro.endDate | amTz: 'America/Chicago'  | amDateFormat: 'h a' }}
                    <br/><br/>
                    <app-flipclock class="biggerClock" id="gwMicroCountdown" [date]="gwMicro.startDate"></app-flipclock>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="sponsorContainer">
        <mat-card>
            <mat-card-title>Sponsors</mat-card-title>
            <mat-card-content>
                <div *ngFor="let s of sponsors | async">
                    <a href="{{s.link}}" target="_blank"><img class="sponsorLogo" src="https://cms.geekway.com{{ s.Logo.url }}" alt="{{ s.Name }}"></a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>