<mat-card>
    <mat-card-content class="center">
        <b>Geekway to the West</b> hosts board game conventions and events in and around the <b>St. Louis, Missouri</b> area. Our premiere annual convention is hosted in the summer and attracts more than 3,000 board game enthusiants from all over.
    </mat-card-content>
</mat-card>

<br/>

<div class="homepageContainer">
    <div class="conventionContainer">
        <mat-card *ngIf="geekwayToTheWest | async as gw" (click)="redirect('conventions/geekway')">
            <img *ngIf="gw.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ gw.Logo.url }}">
            <ng-template #gwLogo>
                <img class="cardImage" matCardImage src="https://cms.geekway.com{{ gw.conventionType.Logo.url }}">
            </ng-template>
            <mat-card-content class="center">
                <i class="{{gw.conventionType.Icon}}"></i> {{ gw.conventionType.Name }} - {{ gw.conventionType.Description }}
                <br/><br/>
                {{ gw.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY' }} through {{ gw.endDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }}
                <br/><br/>
                <app-flipclock class="biggerClock" id="gwCountdown" [date]="gw.startDate"></app-flipclock>
            </mat-card-content>
        </mat-card>

        <br/>

        <div class="flexbox">    
            <mat-card *ngIf="geekwayMini | async as gwMini" (click)="redirect('conventions/mini')">
                <img *ngIf="gwMini.Logo; else gwMiniLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ gwMini.LogoSquare.url }}">
                <ng-template #gwMiniLogo>
                    <img class="cardImage" matCardImage src="https://cms.geekway.com{{ gwMini.conventionType.LogoSquare.url }}">
                </ng-template>
                <mat-card-content class="center">
                    <i class="{{gwMini.conventionType.Icon}}"></i> {{ gwMini.conventionType.Name }} - {{ gwMini.conventionType.Description }}
                    <br/><br/>
                    {{ gwMini.startDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }} through {{ gwMini.endDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }}
                    <br/><br/>
                    <app-flipclock id="gwMiniCountdown" [date]="gwMini.startDate"></app-flipclock>
                </mat-card-content>
            </mat-card>

            <mat-card *ngIf="geekwayMicro | async as gwMicro" (click)="redirect('conventions/micro')">
                <img *ngIf="gwMicro.Logo; else gwMicroLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ gwMicro.LogoSquare.url }">
                <ng-template #gwMicroLogo>
                    <img class="cardImage" matCardImage src="https://cms.geekway.com{{ gwMicro.conventionType.LogoSquare.url }}">
                </ng-template>
                <mat-card-content class="center">
                    <i class="{{gwMicro.conventionType.Icon}}"></i> {{ gwMicro.conventionType.Name }} - {{ gwMicro.conventionType.Description }}
                    <br/><br/>
                    {{ gwMicro.startDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY, h a' }} through {{ gwMicro.endDate | amTz: 'America/Chicago'  | amDateFormat: 'h a' }}
                    <br/><br/>
                    <div class="center"><app-flipclock id="gwMicroCountdown" [date]="gwMicro.startDate"></app-flipclock></div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="sponsorContainer">
        <mat-card>
            <mat-card-title>Sponsors</mat-card-title>
            <mat-card-content>
                <div *ngFor="let s of sponsors | async">
                    <a href="{{s.link}}" target="_blank"><img src="https://cms.geekway.com/{{ s.Logo.url }}" alt="{{ s.Name }}"></a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>