.flexbox {
    display: flex;

    mat-card {
        flex: 1;
        min-width: 0;
    }

    mat-card:not(:last-of-type) {
        margin-right: 10px;
    }

    div {
        flex: 1;
        min-width: 0;
    }

    div:not(:last-of-type) {
        margin-right: 10px;
    }
}

app-flipclock {
    transform: scale(0.7) translate(15%, 0);
    transform-origin: top left;
    display: inline-block;
    width: auto;
}

.center {
    text-align: center;
    margin: auto;
}

mat-card {
    img {
        cursor: pointer;        
    }
}