.flexbox {
    display: flex;

    mat-card {
        flex: 1;
    }

    mat-card:not(:last-of-type) {
        margin-right: 10px;
    }

    div {
        flex: 1;
    }

    div:not(:last-of-type) {
        margin-right: 10px;
    }
}

app-flipclock {
    zoom: 0.75;
    display: inline-block;
    width: auto;
}

.center {
    text-align: center;
    margin: auto;
}