<h1 class="title">Registration Dates</h1>

<div class="flexbox">
    <mat-card *ngIf="geekwayToTheWest | async as g">
        <mat-card-title>{{ g.conventionType.Name }} {{ g.startDate | amTz: 'America/Chicago' | amDateFormat: 'YYYY'}}</mat-card-title>
        <mat-card-subtitle>{{ g.Theme }}</mat-card-subtitle>
        <img *ngIf="g.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ g.LogoSquare.url }}">
        <ng-template #gwLogo>
            <img class="cardImage" matCardImage src="https://cms.geekway.com{{ g.conventionType.LogoSquare.url }}">
        </ng-template>
        <mat-card-content>
            <div *ngFor="let r of g.regDates; let i = index" class="registrationBlock">
                <div *ngIf="isRegistrationOpen(r)">
                    <b>{{ r.name }} registration ends:</b> {{ r.dateClosed | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
                    <br/><br/>
                    <app-flipclock [id]="'gwCountdownRegistration' + i" [date]="r.dateClosed"></app-flipclock>
                </div>
                <div *ngIf="isRegistrationSoon(r)">
                    <b>{{ r.name }} registration begins:</b> {{ r.date | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
                    <br/><br/>
                    <app-flipclock [id]="'gwCountdownRegistration' + i" [date]="r.date"></app-flipclock>
                </div>
            </div>
            <div *ngIf="g.regDates.length === 0">Check back soon for registration dates.</div>
            <div *ngIf="g.regDates.length > 0 && endRegDateGW < todaysDate">Registration has ended.</div>
        </mat-card-content>
        <mat-card-actions *ngIf="g.registrationUrl && endRegDateGW > todaysDate">
            <button mat-button (click)="redirect(g.registrationUrl)">Register</button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="geekwayMini | async as g">
        <mat-card-title>{{ g.conventionType.Name }} {{ g.startDate | amTz: 'America/Chicago' | amDateFormat: 'YYYY'}}</mat-card-title>
        <mat-card-subtitle>{{ g.Theme }}</mat-card-subtitle>
        <img *ngIf="g.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ g.LogoSquare.url }}">
        <ng-template #gwLogo>
            <img class="cardImage" matCardImage src="https://cms.geekway.com{{ g.conventionType.LogoSquare.url }}">
        </ng-template>
        <mat-card-content>
            <div *ngFor="let r of g.regDates; let i = index" class="registrationBlock">
                <div *ngIf="isRegistrationOpen(r)">
                    <b>{{ r.name }} registration ends:</b> {{ r.dateClosed | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
                    <br/><br/>
                    <app-flipclock [id]="'gwCountdownRegistration' + i" [date]="r.dateClosed"></app-flipclock>
                </div>
                <div *ngIf="isRegistrationSoon(r)">
                    <b>{{ r.name }} registration begins:</b> {{ r.date | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
                    <br/><br/>
                    <app-flipclock [id]="'gwCountdownRegistration' + i" [date]="r.date"></app-flipclock>
                </div>
            </div>
            <div *ngIf="g.regDates.length === 0">Check back soon for registration dates.</div>
            <div *ngIf="g.regDates.length > 0 && endRegDateGWMini < todaysDate">Registration has ended.</div>
        </mat-card-content>
        <mat-card-actions *ngIf="g.registrationUrl && endRegDateGWMini > todaysDate">
            <button mat-button (click)="redirect(g.registrationUrl)">Register</button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="geekwayMicro | async as g">
        <mat-card-title>{{ g.conventionType.Name }}</mat-card-title>
        <mat-card-subtitle>{{ g.Theme }}</mat-card-subtitle>
        <img *ngIf="g.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ g.LogoSquare.url }}">
        <ng-template #gwLogo>
            <img class="cardImage" matCardImage src="https://cms.geekway.com{{ g.conventionType.LogoSquare.url }}">
        </ng-template>
        <mat-card-content>
            <div *ngFor="let r of g.regDates; let i = index" class="registrationBlock">
                <b>{{ r.name }}</b>
                <br/>
                {{ r.date | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
                <br/><br/>
                <app-flipclock [id]="'gwMicro' + i" [date]="r.date"></app-flipclock>
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="g.registrationUrl">
            <button mat-button (click)="redirect(g.registrationUrl)">Register</button>
        </mat-card-actions>
    </mat-card>
</div>