.flexbox {
    display: flex;
    flex-flow: row wrap;

    mat-card {
        flex: 1;
        text-align: center;
        min-width: 200px;
        min-height: 0;
        margin-bottom: 10px;
        overflow: hidden;
    
        &:not(:last-of-type) {
            margin-right: 10px;
        }

        app-flipclock {
            transform: scale(0.5) translate(10%, 0);
            transform-origin: top left;
            display: inline-block;
        }
    }
}

h1.title {
    text-align: center;
}
    
.registrationBlock:not(:last-of-type) {
    margin-bottom: 10px;
}