.boardGameBox {
    height: 75px;
    margin: auto;
    padding: 5px;
}

.centered {
    text-align: center;
}

.tableContainer {
    margin-top: 20px;
    
    table {
        width: 100%;

        tr:nth-child(even) {
            background-color: white;
        }

        tr:nth-child(odd) {
            background-color: rgb(245, 245, 245);
        }

        tr:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }
}