.flexbox {
    display: flex;

    mat-card {
        flex: 1;
    }

    mat-card:not(:last-of-type) {
        margin-right: 10px;
    }

    div {
        flex: 1;
    }

    div:not(:last-of-type) {
        margin-right: 10px;
    }
}

app-flipclock {
    zoom: 0.75;
    display: inline-block;
    width: auto;
}

.center {
    text-align: center;
    margin: auto;
}

mat-card {
    text-align: center;
    margin-bottom: 20px;
}

igx-carousel {
    width: 400px;
    margin: auto;

    igx-slide {
        img {
            height: 200px;
            width: auto;
        }
    }
}

agm-map {
    height: 400px;
}

table {
    tr:nth-child(even) {
        background-color: white;
    }

    tr:nth-child(odd) {
        background-color: rgb(245, 245, 245);
    }

    tr:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}