<mat-card>
    <mat-card-title>Geekway Micro</mat-card-title>
    <mat-card-content class="center">
        <div [innerHTML]="content" id="content"></div>
    </mat-card-content>
</mat-card>

<br/>

<div *ngIf="geekwayMicro | async as g; else cancelledUntilFurtherNotice">
    <mat-card>
        <mat-card-title>Geekway Micro - {{ g.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY' }}</mat-card-title>
        <mat-card-subtitle>{{ g.Theme }}</mat-card-subtitle>
        <img *ngIf="g.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ g.Logo.url }}">
        <ng-template #gwLogo>
            <img class="cardImage" matCardImage src="https://cms.geekway.com{{ g.conventionType.Logo.url }}">
        </ng-template>
        <mat-card-content>
            <div class="flexbox">
                <div class="center">
                    <i class="{{g.conventionType.Icon}}"></i> {{ g.conventionType.Name }} - {{ g.conventionType.Description }}
                    <br/><br/>
                    {{ g.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
                </div>
                <div class="center">
                    <app-flipclock id="gwCountdown" [date]="g.startDate"></app-flipclock>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.regDates.length > 0">
        <mat-card-title>Registration</mat-card-title>
        <mat-card-content>
            <div *ngFor="let r of g.regDates; let i = index" class="registrationBlock">
                {{ r.name }}
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="g.registrationUrl">
            <button mat-button (click)="redirect(g.registrationUrl)">Register</button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="g.PrimaryVenue">
        <mat-card-title>Venue</mat-card-title>
        <mat-card-subtitle>{{ g.PrimaryVenue.Name }}</mat-card-subtitle>
        <mat-card-content>
            <google-map [center]= "{lat: g.PrimaryVenu.Lat, lng: g.PrimaryVenu.long}" [zoom]="16">
            </google-map>
            <!--<agm-map [latitude]="g.PrimaryVenue.Lat" [longitude]="g.PrimaryVenue.Long" [zoom]="18">
                <agm-marker [latitude]="g.PrimaryVenue.Lat" [longitude]="g.PrimaryVenue.Long">
                    <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
                        <ng-template>
                            <p><b>{{g.PrimaryVenue.Name}}</b></p>
                            <p>{{g.PrimaryVenue.Address}}</p>
                            <p *ngIf="g.PrimaryVenue.website"><a href="{{ g.PrimaryVenue.website }}" target="_blank">website</a></p>
                        </ng-template>
                    </agm-snazzy-info-window>
                </agm-marker>
            </agm-map>-->
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="mapCount > 0">
        <mat-card-title>Venue Maps</mat-card-title>
        <mat-card-content>
            <div *ngFor="let v of g.venues">
                <div class="venueMaps" *ngIf="v.maps.length > 0" lightbox-group>
                    <mat-card-subtitle>{{ v.Name }}</mat-card-subtitle>
                    <!--<carousel [cellWidth]="300">
                        <div class="carousel-cell" *ngFor="let p of v.maps">
                            <img [src]="'https://cms.geekway.com' + p.url" lightbox>
                        </div>
                    </carousel>-->
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.doorPrizes.length > 0">
        <mat-card-title>Door Prizes</mat-card-title>
        <mat-card-content>
            <div>
                <div class="carousel-cell" *ngFor="let p of g.doorPrizes">
                    <img [src]="'https://cms.geekway.com' + p.Boxart.url" (click)="redirect('https://boardgamegeek.com/boardgame/' + p.BGGID)">
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.doorPrizesAnnounced && g.playAndWinAnnounced && g.playAndWins.length > 0">
        <mat-card-title>Play and Win Games</mat-card-title>
        <mat-card-content>
            <!--<carousel>
                <div class="carousel-cell" *ngFor="let p of g.playAndWins">
                    <img [src]="'https://cms.geekway.com' + p.Boxart.url" (click)="redirect('https://boardgamegeek.com/boardgame/' + p.BGGID)">
                </div>
            </carousel>-->
        </mat-card-content>
    </mat-card>
</div>

<ng-template #cancelledUntilFurtherNotice><div class="center">Cancelled until futher notice</div></ng-template>