<mat-card>
    <mat-card-title>Geekway Micro</mat-card-title>
    <mat-card-content class="center">
        <div [innerHTML]="content" id="content"></div>
    </mat-card-content>
</mat-card>

<br/>

<div *ngIf="geekwayMicro | async as g;else message">
    <mat-card>
        <mat-card-title>Geekway Micro - {{ g.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY' }}</mat-card-title>
        <mat-card-subtitle>{{ g.Theme }}</mat-card-subtitle>
        <img *ngIf="g.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ g.Logo.url }}">
        <ng-template #gwLogo>
            <img class="cardImage" matCardImage src="https://cms.geekway.com{{ g.conventionType.Logo.url }}">
        </ng-template>
        <mat-card-content>
            <div class="flexbox">
                <div class="center">
                    <i class="{{g.conventionType.Icon}}"></i> {{ g.conventionType.Name }} - {{ g.conventionType.Description }}
                    <br/><br/>
                    {{ g.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
                </div>
                <div class="center">
                    <app-flipclock id="gwCountdown" [date]="g.startDate"></app-flipclock>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.regDates.length > 0">
        <mat-card-title>Registration</mat-card-title>
        <mat-card-content>
            <div *ngFor="let r of g.regDates; let i = index" class="registrationBlock">
                {{ r.name }}
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="g.registrationUrl">
            <button mat-button (click)="redirect(g.registrationUrl)">Register</button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="g.PrimaryVenue">
        <mat-card-title>Venue</mat-card-title>
        <mat-card-subtitle>{{ g.PrimaryVenue.Name }}</mat-card-subtitle>
        <mat-card-content>
            <google-map width="100%" [center]= "{lat: venueCenterLat, lng: venueCenterLng}" [zoom]="14">
                <map-marker *ngFor="let m of markers" [position]="m.position" [label]="m.label">
                </map-marker>
            </google-map>

            <br/><br/>

            <div class="venues">
                <div *ngFor="let v of g.venues" class="venue">
                    <p style="font-weight: bold;">{{v.Name}}</p>
                    <p>{{v.Address}}</p>
                    <p *ngIf="v.website"><a href="{{ v.website }}" target="_blank">website</a></p>
                    <p *ngIf="v.groupCode">Group Code: {{ v.groupCode }}</p>
                </div>

                <div style="clear: both;"></div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="mapCount > 0">
        <mat-card-title>Venue Maps</mat-card-title>
        <mat-card-content>
            <div class="venueMaps" *ngIf="venueMapsGalleryItems.length > 0">
                <gallery gallerize [items]="venueMapsGalleryItems" thumbPosition="left"></gallery>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.doorPrizes.length > 0">
        <mat-card-title>Door Prizes</mat-card-title>
        <mat-card-content>
            <div gallerize>
                <img *ngFor="let p of g.doorPrizes" [src]="'https://cms.geekway.com' + p.url">
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.doorPrizesAnnounced && g.playAndWinAnnounced && g.playAndWins.length > 0">
        <mat-card-title>Play and Win Games</mat-card-title>
        <mat-card-content>
            <div gallerize>
                <img *ngFor="let p of g.playAndWins" [src]="'https://cms.geekway.com' + p.url">
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #message>
    <div>
        <mat-card>
            <mat-card-title>Check back soon for more information on the next Geekway Micro</mat-card-title>
        </mat-card>
    </div>
</ng-template>