.flexbox {
    display: flex;

    mat-card {
        flex: 1;
    }

    mat-card:not(:last-of-type) {
        margin-right: 10px;
    }

    div {
        flex: 1;
    }

    div:not(:last-of-type) {
        margin-right: 10px;
    }
}

app-flipclock {
    transform: scale(0.7) translate(15%, 0);
    transform-origin: top left;
    display: inline-block;
    width: auto;
}

.center {
    text-align: center;
    margin: auto;
}

mat-card {
    text-align: center;
    margin-bottom: 20px;
}

agm-map {
    height: 400px;
}

.iframely-responsive {
  top: 0; left: 0; width: 100%; height: 0;
  position: relative; padding-bottom: 56.25%;
}

.iframely-responsive>* {
  top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;
}

.venueMaps {
    margin-bottom: 20px;
}

@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

lightgallery {
    img {
        width: 200px;
        margin-right: 10px;
    }
}

.venues {
    .venue {
        float: left;
        margin-right: 20px;
        padding: 10px;
        text-align: left;
        border: 1px solid grey;
        width: 200px;

        p {
            margin-block-start: 0em;
        }
    }
}