<mat-card>
    <mat-card-content>
        Geekway will send you email letting you know when to buy tickets, submit or sign up for events, apply to be a Geek Guide, and give important info about the convention. Sign up so you don’t miss out!
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="redirect('https://us9.list-manage.com/subscribe?u=8ef36ba43ce2b4d6b894aabbb&id=f8d2f344e6')">Sign up now!</button>
    </mat-card-actions>
</mat-card>

<br/><br/>

<div class="newsLink" *ngFor="let n of news | async">
    <div *ngIf="n.postDate < todaysDate">
        {{ n.postDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }} by {{ n.author.Name }}
        <br/>
        <a href="news/post/{{ n.slug }}">{{ n.Title }}</a>
    </div>
</div>