<div class="flexContainer">
    <mat-table [dataSource]="conventions" class="mat-elevation-z8">
        <ng-container matColumnDef="Type">
            <mat-header-cell *matHeaderCellDef> Convention </mat-header-cell>
            <mat-cell *matCellDef="let c"><span class="mobile-label">Convention</span>  {{ c.conventionType.Name }} {{ c.startDate | amDateFormat: 'YYYY' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Theme">
            <mat-header-cell *matHeaderCellDef> Theme </mat-header-cell>
            <mat-cell *matCellDef="let c"><span class="mobile-label">Theme</span>  {{ c.Theme }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Dates">
            <mat-header-cell *matHeaderCellDef> Dates </mat-header-cell>
            <mat-cell *matCellDef="let c"><span class="mobile-label">Dates</span>  {{ c.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY' }} through {{ c.endDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Location">
            <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
            <mat-cell *matCellDef="let c"><span class="mobile-label">Location</span> {{ c.PrimaryVenue.Name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Annual">
            <mat-header-cell *matHeaderCellDef> Annual </mat-header-cell>
            <mat-cell *matCellDef="let c"><span class="mobile-label">Annual</span> {{ c.Annual }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Size">
            <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
            <mat-cell *matCellDef="let c"><span class="mobile-label">Size</span> {{ c.Size }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let c"><span class="mobile-label">Status</span> <div *ngIf="c.Postponed" class="postponed">Postponed</div><div *ngIf="c.Cancelled" class="cancelled">Cancelled</div></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="redirectConvention(myRowData.id)"></mat-row>
    </mat-table>
</div>