table {
    width: 100%;

    table {
        tr:nth-child(even) {
            background-color: white;
        }
    
        tr:nth-child(odd) {
            background-color: rgb(245, 245, 245);
        }
    
        tr:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }
}