.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boardmember {
    padding-bottom: 10px;
    flex-basis: 50%;
    
    img {
        float: left;
        margin-right: 10px;
    }
}