header {
  .branding {
    img {
      margin-top: 5px;
      height: 50px;
      width: auto;
    }

    button {
      margin: auto;
      margin-right: 20px;
    }
  }

  .header-nav {
    .nav-link:hover {
      background-color: #00B259;
      color: black;
    }
  }
}

.content-container {
  background-color: #0093D2;

  .sidenav {
    background-color: white;
    border-bottom: 1px solid grey;
    position: absolute;
    z-index: 1000;
  }

  .content-area {
    padding: 20px;
  }

  mat-card {
    background-color: whitesmoke;
  }

  mat-card.desktop {
    width: 80%;      
    margin-left: auto;
    margin-right: auto;
  }
}

.miniHeader {
  background-color: #00B259;

  ul {
    list-style: none;
    float: right;
     
    li {
      display: inline-block;
      padding: 5px;
      padding-right: 10px;

      a {
        color: white;
      }

      a:hover {
        text-decoration: none;
      }
    }

    li:hover {
      background-color: #0093D2;
      
      a {
        color: black;
      }
    }
  }
}