<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar> 
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="page/about">About</a>
      <a mat-list-item href="conventions">Conventions</a>
      <a mat-list-item href="registration">Registration</a>
      <a mat-list-item href="policies">Policies</a>
      <a mat-list-item href="events">Events</a>
      <a mat-list-item href="page/vendors">Vendors</a>
      <a mat-list-item href="library">Library</a>
      <a mat-list-item href="page/geekguides">Geek Guides</a>
      <a mat-list-item href="venues">Venues</a>
      <a mat-list-item href="news">News Posts</a>
      <a mat-list-item href="blog">Blog Posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img *ngIf="!(isHandset$ | async)" class="headerIcon" src="assets/images/geekwaylogo.png">
      <img *ngIf="(isHandset$ | async)" class="headerIcon" src="assets/images/gw-square.png">
      <span>Four Days of Peace, Love, <br *ngIf="(isHandset$ | async)"/> and Board Games</span>
    </mat-toolbar>
    <div class="padded">
        <router-outlet></router-outlet>
    </div>    
  </mat-sidenav-content>
</mat-sidenav-container>
