<mat-card>
    <mat-card-title>Geekway Mini</mat-card-title>
    <mat-card-content class="center">
        <div [innerHTML]="content" id="content"></div>
    </mat-card-content>
</mat-card>
    
<br/>

<div *ngIf="geekwayMini | async as g">
    <mat-card>
        <mat-card-title>Geekway to the West {{ g.startDate | amTz: 'America/Chicago' | amDateFormat: 'YYYY' }}</mat-card-title>
        <mat-card-subtitle>{{ g.Theme }}</mat-card-subtitle>
        <img *ngIf="g.Logo; else gwLogo" class="cardImage" matCardImage src="https://cms.geekway.com{{ g.Logo.url }}">
        <ng-template #gwLogo>
            <img class="cardImage" matCardImage src="https://cms.geekway.com{{ g.conventionType.Logo.url }}">
        </ng-template>
        <mat-card-content>
            <div class="flexbox">
                <div class="center">
                    <i class="{{g.conventionType.Icon}}"></i> {{ g.conventionType.Name }} - {{ g.conventionType.Description }}
                    <br/><br/>
                    {{ g.startDate | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY' }} through {{ g.endDate | amTz: 'America/Chicago'  | amDateFormat: 'MMMM Do YYYY' }}
                </div>
                <div class="center">
                    <app-flipclock id="gwCountdown" [date]="g.startDate"></app-flipclock>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.regDates.length > 0">
        <mat-card-title>Registration</mat-card-title>
        <mat-card-content>            
            <div *ngFor="let r of g.regDates; let i = index" class="registrationBlock">
                <b>{{ r.name }} registration begins:</b> {{ r.date | amTz: 'America/Chicago' | amDateFormat: 'MMMM Do YYYY, h:mm a' }}
                <br/><br/>
                <app-flipclock [id]="'gwMini' + i" [date]="r.date"></app-flipclock>
            </div>
        </mat-card-content>
        <mat-card-actions *ngIf="g.registrationUrl">
            <button mat-button (click)="redirect(g.registrationUrl)">Register</button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="g.doorPrizes.length > 0">
        <mat-card-title>Door Prizes</mat-card-title>
        <mat-card-content>
            <carousel>
                <div class="carousel-cell" *ngFor="let p of g.doorPrizes">
                    <img [src]="'https://cms.geekway.com' + p.Boxart.url" (click)="redirect('https://boardgamegeek.com/boardgame/' + p.BGGID)">
                </div>
            </carousel>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.playAndWins.length > 0">
        <mat-card-title>Play and Win Games</mat-card-title>
        <mat-card-content>
            <carousel>
                <div class="carousel-cell" *ngFor="let p of g.playAndWins">
                    <img [src]="'https://cms.geekway.com' + p.Boxart.url" (click)="redirect('https://boardgamegeek.com/boardgame/' + p.BGGID)">
                </div>
            </carousel>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="g.PrimaryVenue">
        <mat-card-title>Venue</mat-card-title>
        <mat-card-subtitle>{{ g.PrimaryVenue.Name }}</mat-card-subtitle>
        <mat-card-content>
            <agm-map [latitude]="g.PrimaryVenue.Lat" [longitude]="g.PrimaryVenue.Long" [zoom]="16">
                <agm-marker *ngFor="let v of g.venues" [latitude]="v.Lat" [longitude]="v.Long">
                    <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
                        <ng-template>
                            <p><b>{{ v.Name }}</b></p>
                            <p>{{ v.Address }}</p>
                        </ng-template>
                    </agm-snazzy-info-window>                          
                </agm-marker>
            </agm-map>
        </mat-card-content>
    </mat-card>
</div>