.flexbox {
    display: flex;

    mat-card {
        flex: 1;
    }

    mat-card:not(:last-of-type) {
        margin-right: 10px;
    }

    div {
        flex: 1;
    }

    div:not(:last-of-type) {
        margin-right: 10px;
    }
}

app-flipclock {
    transform: scale(0.7) translate(15%, 0);
    transform-origin: top left;
    display: inline-block;
    width: auto;
}

.center {
    text-align: center;
    margin: auto;
}

mat-card {
    text-align: center;
    margin-bottom: 20px;
}

agm-map {
    height: 400px;
}  

table {
    tr:nth-child(even) {
        background-color: white;
    }

    tr:nth-child(odd) {
        background-color: rgb(245, 245, 245);
    }

    tr:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}

.iframely-responsive {
  top: 0; left: 0; width: 100%; height: 0;
  position: relative; padding-bottom: 56.25%;
}

.iframely-responsive>* {
  top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;
}

.venueMaps {
    margin-bottom: 20px;
}